<%= image_tag 'FBlogo2.png' %>

<div class="new_content">
  <span><%= link_to 'icon', user_path(current_user.id) %></span>
  <span><font size="2"><%= link_to 'その気持ち、シェアしよう', new_blog_path %></font></span>
</div>

<% @blogs.each do |blog| %>
<div class="container" >
  <div class="row">
    <p class="user_name"><%= blog.user.name %></p>
    <p class="line-clamp"><%= blog.content %></p>
    <p class="watch"><%= link_to 'もっと見る', blog_path(blog.id) %></p>
    <p class="img"><%= image_tag(blog.image.url) if blog.image && blog.image.url %></p>

  <% unless blog.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to image_tag('good.png'), favorite_path(id: @favorite.id), method: :delete %>
    <% else %>
      <%= link_to image_tag('not_yet_good.png'), favorites_path(blog_id: blog.id), method: :post %>
    <% end %>
  <% end %>

    <% if blog.user_id == current_user.id %>
      <span class=""><%= link_to image_tag('edit.png'), edit_blog_path(blog.id) %></span>
      <span class=""><%= link_to image_tag('delete.png'), blog_path(blog.id), method: :delete , data: { confirm: '投稿を削除' } %></span>
    <% else %>
    <% end %>
  </div>
</div>
<% end %>

<div class="link">
  <% flash.each do |key, value| %>
  　<%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <% if logged_in? %>
    <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
  <% else %>
  <% end %>
</div>
