<p>左上にロゴ</p>
<div class="new_content">
  <p><%= link_to 'その気持ち、シェアしよう', new_blog_path %></p>
</div>
<% @blogs.each do |blog| %>
<div class="container" >
  <div class="row">
    <p class="user_name"><%= blog.user.name %></p>
    <p class="content"><%= blog.content %></p>
    <p ><%= link_to 'もっと見る', blog_path(blog.id) %></p>
    <p class="img"><%= image_tag(blog.image.url) if blog.image && blog.image.url %></p>
    <span class=""><%= link_to '編集', edit_blog_path(blog.id) %></span>
    <span class=""><%= link_to '削除', blog_path(blog.id), method: :delete , data: { confirm: '投稿を削除' } %></span>
  </div>
</div>
<% end %>
