<div class="container" >
  <div class="row">
    <p class="user_name"><%= @blog.user.name %></p>
    <p class="content_show"><%= @blog.content %></p>
    <p class="img">
      <%= image_tag @blog.image.url if @blog.image.present? && @blog.image.url.present? %>
    </p>
    <% unless @blog.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'いいね', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'いいね', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
