<%= image_tag 'FBlogo2.png' %>

<div class="link">
  <span class="user_title"><%= link_to '<', blogs_path %></span>
  <span class="user_title"><%= @blog.user.name%></span>
</div>

<div class="container" >
  <div class="row">
    <p class="user_name"><%= @blog.user.name %></p>
    <p class="field"><%= @blog.content %></p>
    <p class="img">
      <%= image_tag @blog.image.url if @blog.image.present? && @blog.image.url.present? %>
    </p>
  <% unless @blog.user_id == current_user.id %>
    <% if @favorite.present? %>
    <%= link_to image_tag('good.png'), favorite_path(id: @blog.id), method: :delete %>
  <% else %>
    <%= link_to image_tag('not_yet_good.png'), favorites_path(blog_id: @blog.id), method: :post %>
  <% end %>
  <% end %>
  </div>
</div>
