<div class="root">
  <span><%= link_to "<", blogs_path %></span>
  <span><%= current_user.name %></span>
  <span><%= link_to 'プロフィール編集', edit_user_path %></span>
</div>

<div class="">
  <span><%= link_to 'その気持ち、シェアしよう', new_blog_path %></span>
</div>

<p class="user_name"><%= @user.name %></p>
<p class="email"><%= @user.email %></p>
<p class="pass"><%= @user.password %></p>

<%= link_to 'いいね！', favorite_favorites_path %>
